In [1]:
import pandas as pd

In [2]:
df_ws= pd.read_csv('../data/processed/goodreads_books_2.csv')
df_bio=pd.read_csv('../data/processed/Open_Library_Biography_400.csv')
df_fic= pd.read_csv('../data/processed/Open_Library_Fiction_1000.csv')
df_his = pd.read_csv('../data/processed/Open_Library_History_600.csv')

In [3]:
df_ws.info()

<class 'pandas.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            498 non-null    str
 1   author           498 non-null    str
 2   rating           498 non-null    float64
 3   rating_count     498 non-null    float64
 4   description      500 non-null    str
 5   isbn             377 non-null    float64
 6   image            497 non-null    str
 7   url_from_jsonld  0 non-null      float64
 8   language         500 non-null    str
 9   book_url         500 non-null    str
 10  pages            497 non-null    float64
 11  published_year   500 non-null    int64
 12  genres           498 non-null    str
dtypes: float64(5), int64(1), str(7)
memory usage: 50.9 KB

In [5]:
df_api = pd.concat([df_bio, df_fic, df_his], ignore_index=True)

In [6]:
df_api.info()

<class 'pandas.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           1100 non-null   str
 1   Author          1100 non-null   str
 2   Genre           1100 non-null   str
 3   Rating_Average  1073 non-null   float64
 4   Rating_Counts   1073 non-null   float64
 5   Description     1100 non-null   str
 6   Page_Numbers    1100 non-null   int64
 7   ISBN            1098 non-null   str
 8   Language        1100 non-null   str
 9   Published_Year  1100 non-null   int64
 10  Cover_URL       1099 non-null   str
 11  Book_Link       1100 non-null   str
dtypes: float64(2), int64(2), str(8)
memory usage: 103.3 KB

In [7]:
df_api_renamed = df_api.rename(columns={
    "Title": "title",
    "Author": "author",
    "Genre": "genres",
    "Rating_Average": "rating",
    "Rating_Counts": "rating_count",
    "Description": "description",
    "Page_Numbers": "pages",
    "ISBN": "isbn",
    "Language": "language",
    "Published_Year": "published_year",
    "Cover_URL": "image",
    "Book_Link": "book_url"
})

In [8]:
common_cols = [
    "title", "author", "rating", "rating_count",
    "description", "isbn", "image",
    "book_url", "pages", "published_year",
    "language", "genres"
]

df_ws_clean = df_ws[common_cols]
df_api_clean = df_api_renamed[common_cols]

In [9]:
df_all = pd.concat(
    [df_ws_clean, df_api_clean],
    ignore_index=True
)

In [10]:
df_all.info()
df_all.head()

<class 'pandas.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1598 non-null   str
 1   author          1598 non-null   str
 2   rating          1571 non-null   float64
 3   rating_count    1571 non-null   float64
 4   description     1600 non-null   str
 5   isbn            1475 non-null   object
 6   image           1596 non-null   str
 7   book_url        1600 non-null   str
 8   pages           1597 non-null   float64
 9   published_year  1600 non-null   int64
 10  language        1600 non-null   str
 11  genres          1598 non-null   str
dtypes: float64(3), int64(1), object(1), str(7)
memory usage: 150.1+ KB

,title,author,rating,rating_count,description,isbn,image,book_url,pages,published_year,language,genres
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.35,9953205.0,Winning means fame and fortune. Losing means c...,9780439023481.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/2767052-th...,374.0,2008,English,"Young Adult, Dystopia, Fiction, Fantasy, Scien..."
1,Pride and Prejudice,Jane Austen,4.30,4827168.0,"Since its immediate success in 1813, Pride and...",9781441341709.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/1885.Pride...,279.0,1813,English,"Classics, Romance, Fiction, Historical Fiction..."
2,To Kill a Mockingbird,Harper Lee,4.26,6911906.0,"""Shoot all the bluejays you want, if you can h...",9780060935467.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/2657.To_Ki...,323.0,1960,English,"Classics, Fiction, Historical Fiction, School,..."
3,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,3808735.0,It's official: the evil Lord Voldemort has ret...,9780439358064.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/58613451-h...,896.0,2003,English,"Fantasy, Fiction, Young Adult, Harry Potter, M..."
4,The Book Thief,Markus Zusak,4.39,2890214.0,Librarian's note: An alternate cover edition c...,NaN,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/19063.The_...,592.0,2005,English,"Historical Fiction, Fiction, Young Adult, Clas..."

In [11]:
df_ws_clean["source"] = "web_scraping"
df_api_clean["source"] = "api"

df_all = pd.concat(
    [df_ws_clean, df_api_clean],
    ignore_index=True
)

In [12]:
df_all["title_norm"] = (
    df_all["title"]
    .str.lower()
    .str.strip()
)

In [13]:
df_all["author_norm"] = (
    df_all["author"]
    .str.lower()
    .str.strip()
)

In [14]:
df_all_dedup = df_all.drop_duplicates(
    subset=["title_norm", "author_norm"],
    keep="first"
)

In [15]:
df_all_dedup = df_all_dedup.drop(
    columns=["title_norm", "author_norm"]
)

In [16]:
df_all_dedup.head()

,title,author,rating,rating_count,description,isbn,image,book_url,pages,published_year,language,genres,source
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.35,9953205.0,Winning means fame and fortune. Losing means c...,9780439023481.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/2767052-th...,374.0,2008,English,"Young Adult, Dystopia, Fiction, Fantasy, Scien...",web_scraping
1,Pride and Prejudice,Jane Austen,4.30,4827168.0,"Since its immediate success in 1813, Pride and...",9781441341709.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/1885.Pride...,279.0,1813,English,"Classics, Romance, Fiction, Historical Fiction...",web_scraping
2,To Kill a Mockingbird,Harper Lee,4.26,6911906.0,"""Shoot all the bluejays you want, if you can h...",9780060935467.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/2657.To_Ki...,323.0,1960,English,"Classics, Fiction, Historical Fiction, School,...",web_scraping
3,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,3808735.0,It's official: the evil Lord Voldemort has ret...,9780439358064.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/58613451-h...,896.0,2003,English,"Fantasy, Fiction, Young Adult, Harry Potter, M...",web_scraping
4,The Book Thief,Markus Zusak,4.39,2890214.0,Librarian's note: An alternate cover edition c...,NaN,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/19063.The_...,592.0,2005,English,"Historical Fiction, Fiction, Young Adult, Clas...",web_scraping

In [17]:
df_all_dedup.info()

<class 'pandas.DataFrame'>
Index: 1369 entries, 0 to 1594
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1368 non-null   str
 1   author          1368 non-null   str
 2   rating          1344 non-null   float64
 3   rating_count    1344 non-null   float64
 4   description     1369 non-null   str
 5   isbn            1247 non-null   object
 6   image           1366 non-null   str
 7   book_url        1369 non-null   str
 8   pages           1367 non-null   float64
 9   published_year  1369 non-null   int64
 10  language        1369 non-null   str
 11  genres          1368 non-null   str
 12  source          1369 non-null   str
dtypes: float64(3), int64(1), object(1), str(8)
memory usage: 149.7+ KB

df_all_dedup.to_csv(
    "../data/processed/books_dedup.csv",
    index=False,
   encoding="utf-8-sig"
)