In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/processed/books_dedup.csv')

In [4]:
df.head()

,title,author,rating,rating_count,description,isbn,image,book_url,pages,published_year,language,genres,source
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.35,9953205.0,Winning means fame and fortune. Losing means c...,9780439023481.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/2767052-th...,374.0,2008,English,"Young Adult, Dystopia, Fiction, Fantasy, Scien...",web_scraping
1,Pride and Prejudice,Jane Austen,4.30,4827168.0,"Since its immediate success in 1813, Pride and...",9781441341709.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/1885.Pride...,279.0,1813,English,"Classics, Romance, Fiction, Historical Fiction...",web_scraping
2,To Kill a Mockingbird,Harper Lee,4.26,6911906.0,"""Shoot all the bluejays you want, if you can h...",9780060935467.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/2657.To_Ki...,323.0,1960,English,"Classics, Fiction, Historical Fiction, School,...",web_scraping
3,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,3808735.0,It's official: the evil Lord Voldemort has ret...,9780439358064.0,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/58613451-h...,896.0,2003,English,"Fantasy, Fiction, Young Adult, Harry Potter, M...",web_scraping
4,The Book Thief,Markus Zusak,4.39,2890214.0,Librarian's note: An alternate cover edition c...,NaN,https://m.media-amazon.com/images/S/compressed...,https://www.goodreads.com/book/show/19063.The_...,592.0,2005,English,"Historical Fiction, Fiction, Young Adult, Clas...",web_scraping

In [7]:
df.shape

(1369, 13)

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1369 entries, 0 to 1368
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1368 non-null   str
 1   author          1368 non-null   str
 2   rating          1344 non-null   float64
 3   rating_count    1344 non-null   float64
 4   description     1369 non-null   str
 5   isbn            1247 non-null   str
 6   image           1366 non-null   str
 7   book_url        1369 non-null   str
 8   pages           1367 non-null   float64
 9   published_year  1369 non-null   int64
 10  language        1369 non-null   str
 11  genres          1368 non-null   str
 12  source          1369 non-null   str
dtypes: float64(3), int64(1), str(9)
memory usage: 139.2 KB

In [13]:
df[df["title"].isna() | df["author"].isna()][
    ["title", "author", "description", "book_url"]
]

,title,author,description,book_url
205,NaN,NaN,Discover and share books you love on Goodreads.,https://www.goodreads.com/book/show/7190.The_T...

In [14]:
df = df.dropna(subset=["title", "author"])

In [15]:
df.info()

<class 'pandas.DataFrame'>
Index: 1368 entries, 0 to 1368
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1368 non-null   str
 1   author          1368 non-null   str
 2   rating          1344 non-null   float64
 3   rating_count    1344 non-null   float64
 4   description     1368 non-null   str
 5   isbn            1247 non-null   str
 6   image           1366 non-null   str
 7   book_url        1368 non-null   str
 8   pages           1367 non-null   float64
 9   published_year  1368 non-null   int64
 10  language        1368 non-null   str
 11  genres          1368 non-null   str
 12  source          1368 non-null   str
 13  desc_len        1368 non-null   int64
dtypes: float64(3), int64(2), str(9)
memory usage: 160.3 KB

In [16]:
for col in ["title", "description", "genres"]:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
    )

In [17]:
df["published_year"].describe()

count    1368.000000
mean     1918.690058
std       131.457444
min         0.000000
25%      1893.000000
50%      1952.500000
75%      1996.000000
max      2026.000000
Name: published_year, dtype: float64

In [18]:
df["pages"].describe()

count    1367.000000
mean      353.536211
std       247.839930
min        26.000000
25%       208.000000
50%       303.000000
75%       445.500000
max      4000.000000
Name: pages, dtype: float64

In [19]:
df["desc_len"] = df["description"].str.len()
df["desc_len"].describe()

count    1368.000000
mean      385.129386
std       453.004619
min         1.000000
25%        52.000000
50%       165.000000
75%       642.500000
max      3786.000000
Name: desc_len, dtype: float64